.ModalBody {
  padding: 50px;
  background-color: #c5ddc5;
}

.Header {
  text-align: center;
  h2 {
    margin: 0;
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
  }
  p {
    color: #2e692f;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.6;
  }
}

.ProductContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  span {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  p {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}

.ModalFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 430px) {
  .ProductContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .ModalFooter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
