.NotFoundPage {
  background-color: white;
  padding: 50px;
  border-radius: 28px;
}

.ImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TextContent {
  text-align: center;
  margin-top: 2rem;
  span {
    font-weight: bold;
    font-size: larger;
  }
}