.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 16px;
  border-radius: 200px;
  position: fixed;
  z-index: 999;
  top: 24px;
  left: 40px;
  right: 40px;
  ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    li {
      cursor: pointer;
    }
  }

  button {
    margin-left: 40px;
  }
}

.Right {
  list-style: none;
  a {
    text-decoration: none;
  }
}

.Link {
  text-decoration: none;
  color: black;
}

.MobileRight {
  display: none;
}

.ActiveLink {
  color: #449e47;
  text-decoration: none;
}

.DrawerContent {
  //width: 350px;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    li {
      cursor: pointer;
    }
  }
}

.DrawerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #449E47;
  color: white;
}

.DrawerContentItems {
  padding: 20px;
}

@media (max-width: 400px) {
  .Navbar {
    position: sticky;
    top: 20px;
    ul {
      display: none;
    }
    button {
      margin-left: 20px;
    }
  }
  .Right {
    display: none;
  }
  .MobileRight {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}